auth-module {
	// .profile-menu {
	position: relative;
	// height: 100%;
	// align-content: center;

	// Profile Avatar Styles
	.profile-avatar {
		cursor: pointer;
		height: 100%;
		align-content: center;
		margin: 0px 8px;

		i {
			font-size: large;
		}

	}

	img {
		border-radius: 50%;
		height: 50%;
	}

	&:hover {
		text-shadow: 0px 0px 0px transparent; // forces reflow / layout rendering recalculation
		.profile-dropdown {
			// display: block;
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}

	// .profile-avatar:hover+.profile-dropdown,
	// .profile-avatar+.profile-dropdown:hover {
	// 	// display: block;
	// 	opacity: 1;
	// 	pointer-events: auto;
	// }

	// Dropdown Menu Styles
	.profile-dropdown {
		position: absolute;
		// display: none; // Hidden by default
		display: block;
		opacity: 0;
		pointer-events: none;
		z-index: 1;


		background-color: var(--surface);
		color: var(--on-surface);
		border-radius: 8px;
		border: 1px solid var(--outline);
		right: 0px;
		padding: 8px 16px;
		white-space: nowrap;

		// text-align: right;
		// min-width: 8rem;
		// max-width: 160px;

		// Menu Items (Links)
		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				// padding: 8px 0;
				button {
					// width: 100%;
				}

				a {
					display: block; // Make the anchor act like a block for clicking area
					text-decoration: none; // Remove the underline
					color: inherit; // Inherit the menu color (white)
					padding: 8px 16px;
					border-radius: 4px;
					transition: background-color 0.3s ease;
					white-space: nowrap;

					&:hover {
						background-color: #444; // Lighter background on hover
					}
				}
			}
		}
	}

}

// }
