<template if.bind="!isAuthenticated">
  <auth-signin></auth-signin>
  <!-- <auth-signup></auth-signup> -->
  <!-- <auth-forgot-password></auth-forgot-password> -->
  <!-- <auth-reset-password></auth-reset-password> -->
</template>
<template else>
  <!-- <div class="profile-menu"> -->

  <div class="profile-avatar">
    <!-- <i class="fi fi-ts-circle-user"></i>  -->
    <img src.bind="userImage" alt="Profile Avatar" />
    <!-- ${userName} -->
    <!-- Profile -->
  </div>

  <!-- Dropdown Menu -->
  <div class="profile-dropdown">
    <!-- <h4>
      <img src.bind="userImage" alt="Profile Avatar" />
      ${userName}
    </h4> -->
    <ul>
      <li>
        <a href="profile">Profile</a>
      </li>
      <li>
        <a href="settings">Settings</a>
      </li>
      <li>
        <button type="button" click.trigger="clickSignout()">Sign out</button>
      </li>
    </ul>
  </div>

  <!-- </div> -->
</template>
