auth-signin {

	>.dropdown-container {
		height: 100%;
		align-content: center;
		cursor: pointer;

		>.dropdown-title {
			position: relative;

			>.dropdown-choices {
				// display: none;
				display: flex;
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				z-index: 1;
				

				position: absolute;
				right: 0px;
				white-space: nowrap;
				flex-direction: column;

				// will-change: opacity, visibility; // Hint
				transition: opacity 0.3s ease, visibility 0.3s ease;
				// transition: none;
			}
		}

		&:hover>.dropdown-title>.dropdown-choices {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}


}
