<div class="dropdown-container">
  <div class="dropdown-title">Sign in
    <div class="dropdown-choices">
      <button click.trigger="signinWithAzure()">
        <i class="fi fi-brands-microsoft"></i> Sign in with Microsoft
      </button>
      <button click.trigger="signinWithGithub()">
        <i class="fi fi-brands-github"></i> Sign in with GitHub
      </button>
      <button click.trigger="signinWithGoogle()" disabled>
        <i class="fi fi-brands-google"></i> Sign in with Google
      </button>
    </div>
  </div>
</div>
