search-page {
	.filters {
		width: 80%;
		margin: 2rem auto;
		display: flex;
		flex-direction: row;
		justify-content: center;

		>section {
			display: flex;
			flex-direction: column;
			// justify-content: space-between;
			margin-right: 1rem;

			:first-child {
				margin-bottom: 1.5rem;
			}

			:last-child {
				margin: auto;
			}
		}
	}

	.btnReset {
		height: fit-content;
		// align-self: anchor-center;
	}
}
