/* Grid container for the movie minis */
.movie-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--card-min-width), 1fr));
	// display: flex;
	// flex-wrap: wrap;

	gap: var(--gap);
	margin: 0;
	padding: 0;
	list-style: none;
}
