  <nav>
    <!-- <i class="fi fi-ts-home"></i>
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="welcome">Welcome</a></li>
      <li><a href="about">About</a></li>
    </ul>
    <auth-module></auth-module> -->


    <div class="navbar-logo">
      <a href="home"><i class="fi fi-rr-home"></i></a>
    </div>
    <ul class="navbar-links">
      <!-- <li><a href="home">Home</a></li> -->
      <li><a href="welcome">Welcome</a></li>
      <li><a href="about">About</a></li>
    </ul>
    <div class="navbar-right">
      <ul class="navbar-links">
        <li>
          <a href="search">
            <i class="fi fi-rr-search"></i>
          </a>
        </li>
        <li>
          <auth-module></auth-module>
        </li>
      </ul>
    </div>
  </nav>
