movie-page {
	// position: relative;
	// overflow: visible;

	>* {
		z-index: 1;
		position: relative;
		// background-color: transparent;
		// background: red;
		// overflow: hidden;
	}

	.overdrop {
		position: relative;
	}

	.backdrop {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		// height: 550px;
		// max-height: 300px;
		z-index: 0;
		filter: brightness(40%);
		object-fit: cover;
		object-position: 50% 30%;
		// object-position: top;
		// overflow: hidden;
		// overflow: visible;
		// background-size: cover;
		border-bottom: 1px solid var(--on-surface);
	}

	>header,
	>section {
		margin: 40px;

		// z-index: 3;
		p {
			text-shadow:
				// none
				1px 1px 2px black,
				1px 1px 3px black,
			;
		}

		.details-info {
			max-width: 40rem;
			// backdrop-filter: blur(4px);
		}

		>figure {
			margin: 0px;
		}
	}

}
